<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>管理后台 - 权限管理</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">

<!--Navbar-->
<div th:replace="comm::navbar"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="comm::sidebar"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index">主页</a>
                </li>
                <li class="breadcrumb-item active">修改权限</li>
            </ol>

            <!-- Client Information -->
            <div class="card card-register mx-auto mt-5">
                <div class="card-header">权限修改</div>
                <div class="card-body">
                    <form action="ModPermission" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" name="lvlNo" id="inputLvlNo" class="form-control"
                                       placeholder="权限等级" required="required" autofocus="autofocus"
                                       th:value="${session.permission.lvlNo}" readonly>
                                <label for="inputLvlNo">权限等级</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="ciFinancial">金融操作权限</label>
                            </div>
                            <select class="custom-select" name="ciFinancial" id="ciFinancial">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="ciInq">客户级查询权限</label>
                            </div>
                            <select class="custom-select" name="ciInq" id="ciInq">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tlrInq">用户级查询权限</label>
                            </div>
                            <select class="custom-select" name="tlrInq" id="tlrInq">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="suInq">管理级查询权限</label>
                            </div>
                            <select class="custom-select" name="suInq" id="suInq">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="ciMod">客户级修改权限</label>
                            </div>
                            <select class="custom-select" name="ciMod" id="ciMod">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tlrMod">用户级修改权限</label>
                            </div>
                            <select class="custom-select" name="tlrMod" id="tlrMod">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="suMod">管理级修改权限</label>
                            </div>
                            <select class="custom-select" name="suMod" id="suMod">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tlrAp">用户级复核权限</label>
                            </div>
                            <select class="custom-select" name="tlrAp" id="tlrAp">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="suAp">管理级复核权限</label>
                            </div>
                            <select class="custom-select" name="suAp" id="suAp">
                                <option value="Y" selected>允许</option>
                                <option value="N">禁止</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="修改">
                    </form>
                    <div class="text-center">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <div th:replace="comm::footer"></div>

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="comm::logout"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

<!-- Demo scripts for this page-->
<script th:src="@{js/demo/datatables-demo.js}"></script>

</body>

</html>
