<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>用户中心 - 转账</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{css/sb-admin.css}" rel="stylesheet">

</head>

<body id="page-top">

<!--Navbar-->
<div th:replace="comm::navbar"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="comm::sidebar"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index">主页</a>
                </li>
                <li class="breadcrumb-item active">转账</li>
            </ol>

            <!-- Client Information -->
            <div class="card card-register mx-auto mt-5">
                <div class="card-header">汇款详情</div>
                <div class="card-body">
                    <form action="transfer" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" name="recvName" id="Name" class="form-control"
                                       placeholder="收款人姓名" required="required" autofocus="autofocus">
                                <label for="Name">收款人姓名</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" name="recvAcNo" id="inputAcNo" class="form-control"
                                       placeholder="收款账户"
                                       required="required" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                                <label for="inputAcNo">收款账户</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="Accounts">转出账户</label>
                            </div>
                            <select class="custom-select" name="acNo" id="Accounts"
                                    onblur="if (typeof(this.selectedIndex) != 'undefined') ajaxGetAcBal(this)">
                                <option selected value="">请选择</option>
                                <option th:each="ac:${session.acList}" th:value="${ac.acNo}"
                                        th:text="${ac.ccy} +' '+ ${ac.acNo}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group" id="divAcBal" th:fragment="divAcBal">
                                <input type="text" id="inputBal" class="form-control"
                                       placeholder="余额"
                                       required="required" readonly th:value="${acBal}">
                                <label for="inputBal">余额</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" name="amt" id="inputAmt" class="form-control"
                                       placeholder="转账金额"
                                       required="required" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                                <label for="inputAmt">转账金额</label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="下一步">
                    </form>
                    <div class="text-center">
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <div th:replace="comm::footer"></div>

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="comm::logout"></div>

<!--Ajax javascript-->
<script type="text/javascript">
    function ajaxGetAcBal(select) {

        $.ajax({
            url: 'getAcBal',
            type: 'post',
            data: {
                acNo: select.options[select.selectedIndex].value
            },
            success: function (data) {
                $('#divAcBal').html(data);
            }
        })
    }
</script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{js/sb-admin.min.js}"></script>

<!-- Demo scripts for this page-->
<script th:src="@{/clientjs/demo/datatables-demo.js}"></script>

</body>

</html>
